.logo-container {
    z-index: -1;
    position: absolute;
    top: 5%;
    right: 10%;
    bottom: 5%;
    left: auto;
    margin: auto;

    img {
        width: 400px;
        height: 550px;

    }
}